<section>
    <h1>TEST POINT</h1>
    <p>
        Hai una palestra, un negozio sportivo, un’ associazione sportiva, una squadra, un gruppo di amici o un negozio di bici?
    </p>
    <p>
        Con i “Test Point” avrai la possibilità di collaborare direttamente con Ki.Co.Sys. con un responsabile che verrà direttamente nella tua sede.
        E' più semplice ed economico di quanto pensi.....e saremo noi a venire da te per offrirti i sevizi Ki.Co.Sys.
        Se sei interessato contatta Ki.Co.Sys. per maggiori informazioni.
        Alcuni "Test Point" nei quali è possibile trovare periodicamente i servizi Ki.Co.Sys.
    </p>

        <ul class="elenco">   
            <p> Friuli Venezia Giulia: </p>
            <li> Tricesimo (UD): palestra Body&Fitness, via Costantini 8</li>
            <li> San Vito al Tagliamento (PN): Garlatti Bike (negozio di ciclismo) </li>
            <li> Porcia (PN): Bike Air (negozio di ciclismo) </li>
            <li> Monfalcone (GO): palestra Muscle Factory </li>
            <li> Trieste: sede ASD Alabarda Bike </li>
        </ul>
        <ul class="elenco">
            <p> Veneto: </p>
            <li> Lentiai (BL) </li>
            <li> San Michele di Piave (TV): Stop4sport, via Garibaldi 24 </li>
            <li> San Stino di Livenza (VE): Cicli Mariuzzo</li>
        </ul>
        <ul class="elenco">
            <p> Lombardia: </p>
            <li> Robbio (PV): sede Mariano Cycling Engineering </li>
        </ul>
        <ul class="elenco">
             <p> Liguria: </p>
            <li> Arenzano (GE): sede Foot Lab </li>
        </ul>

    
    </section>