/*********************************************** FONT ************************************************************/
@font-face {
    font-family: "Ubuntu";
    src: url("../font/Ubuntu-Bold.ttf");
}
/********************************************** GENERAL *********************************************************/
* {
    box-sizing: border-box;
}
body {
    background: url(../images/bkg.png);
    background-attachment: fixed;
    background-size: 20%;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

/***************************************** PARTE DEL TITOLO ****************************************************/
header{ 
    background-color: orangered;
    position: fixed;
    top:1%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
}
img#menu {
    margin-left: 30px;
    width: 60px;
    height: 60px;      
}
p#menuarea{
    width:240px;
}
header img:hover{
    transition: transform .2s;
    width: 70px;
    height: 70px;
    transform: scale(1.5);
}
img#mainlogo {
    transition: none !important;
    width: auto !important;
    height: 120px; 
    transform: none !important;
}
img#instagram{
    margin-right: 30px;
    width: 60px;
    height: 60px; 
}
img#facebook{
    margin-right: 30px;
    width: 60px;
    height: 60px; 
}
img#contatti{
    margin-right: 35px;
    width: 60px;
    height: 60px; 
}
/***************************************** BODY ****************************************************/
h1 {
    margin-bottom: 3%;
}
div{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
main {
    background-color: white;
    font-size: 18px;
    text-align: center; 
    margin: 10%;
    border: 4px solid orangered;
    border-radius: 20px;
    padding: 2%;
}
main#contatti{
    align-content: center;
    text-align: left;
}
main#forms{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
img#logow{
    float: right;
    width: 35%;
    height: auto;
}
.elenco {
    margin-top: 5%;
    margin-left: 5%;
}
ul {
    margin-bottom: 5%;
    text-align: left;
    align-content: left;
}
li{
    text-align: left;
    margin-bottom: 1%;
}

/***************************************** PIE' DI PAGINA ****************************************************/
div#up {
    display: none;
	position:fixed;
    text-align: center;
	bottom:8%;
	left:0;
	width:90px;
	background-color:orangered;
    cursor: pointer;    
	border-radius:15px;
	margin:5px;
}
div#up:hover{
    background:cyan;
}
address{
    position: fixed; 
    bottom:0%; 
    width:100%;
    text-align: center;
    background-color: rgba(255,255, 255, 0.85);
}
/************************************************************************************************************/
/****************************************** SMALL SCREENS ***************************************************/
/************************************************************************************************************/
@media  screen and (max-width: 750px) {
    header{
        position: relative;
        flex-direction: column-reverse;    
    }
    img#mainlogo {
        margin-bottom: 15px;
        margin-left: 0%;
        width: auto;
        height: 80px; 
    }
    img#contatti{
        margin-right: 0;
    }
    p#menuarea{
        width: auto;
    }   
/************************ BODY ************************************/
    div{
        overflow-x: scroll;
    }
    main#contatti{
        overflow-x: scroll;
        display:block;
    }
    img#logow{
        width: 0%;
    }
    textarea{
        height: 200px;
    }
/***************** PIE' DI PAGINA ***************************/
   div#up{
       display: none !important;
   }
    address{
        position: relative;
        width:100%;
        text-align: center;
    }
}