
<section id="main">
    <h1>KI.CO.SYS.</h1>
    <p>
        Vent’anni dedicati a <b>posizionare l’Atleta al centro dell’attenzione</b>, fornendo soluzioni Biodinamiche e d’Allenamento a Lui dedicate, 
        nel rispetto delle sue caratteristiche e dell’integrità psicofisica.
    </p>
    <p>
       Ogni Atleta trova da Ki.Co.Sys. le risposte più avanzate ed appropriate per il raggiungimento dei <b>massimi risultati</b> nello Specialità che pratica, 
       con un percorso evolutivo che non trascura gli aspetti tattici e psicologici.
    </p>

    <p>
        La nostra azienda si fonda sulla convinzione che le necessità dei clienti sono la priorità assoluta. Tutto il nostro team è completamente dedito 
        alla soddisfazione di queste necessità.
    </p>

    <p>
        Saremmo lieti di avere la possibilità di guadagnare la tua fiducia e di fornirti il miglior servizio del settore 
    </p>

    <p>
        Per maggiori informazioni puoi mantenerti aggiornato sul nostro sito, seguire la pagina Facebook o contattarci
    </p>
</section>

<section id="main">
    <h3>CHI SIAMO</h3>
    <p>
        E' ormai da diversi anni che il Ki.Co.Sys. opera nei servzi applicati allo sport, e grazie al supporto fornito dall'intera Equipe e dal Mariano Cycling Enginnering 
        è ormai un punto di riferimento nel mondo del ciclismo e sportivo in genere, sia professionistico che amatoriale.
    </p>
    <p>
        Ki.Co.Sys. rappresenta l' unione di diversi professionisti del settore sportivo, ognuno dei quali raffigura nel proprio settore uno tra i principali tecnici sul panorama 
        nazionale e mondiale; l' Equipe che si è venuta così a creare lavora combinando continuamente la propria esperienza, sia nei rapporto diretto con l'atleta e i gruppi sportivi, 
        sia nella continua ricerca e sviluppo di nuovi programmi e qualità dei servizi offerti.
    </p>
    <p class="elenco">
        Quello che Ki.Co.Sys. offre è quindi il frutto di un intero staff composto da medici, biomeccanici, preparatori atletici, laureati in scienze motorie e tecnici ortopedici.
        Questo gruppo di lavoro viene rappresentato nello specifico da:<br>
        <ul>
            <li>
                Alessandro Mariano del <i>Mariano Cycling Engineering</i>, si occupa della biodinamica applicata al ciclismo (www.marianocycling.com): conosciuto in tutto il Mondo, 
                è un sistema Leader nel corretto posizionamento in sella del ciclista, valutando non solo l' aspetto scheletrico ma anche il reclutamento muscolare durante il gesto 
                atletico e monitorando nel tempo il conseguente adattamento avuto;
            </li>
            <li>
                Paolo Tedeschi, cura tutta l' area legata alla programmazione dell' allenamento ed al sempre più importante servizio di Coaching, per un supporto di consulenza 
                rivolto al singolo atleta o alle società;
            </li>
            <li>
                Dott.sa Paola Castello del FootLab di Arenzano (GE) per le valutazioni sull' appoggio plantare e la progettazione dei plantari anatomici ai fini di una miglior 
                risoluzione nelle problematiche dell' appoggio e spinta;
            </li>
            <li>
                Dott. Matteo Chittaro, Scienza Motorie, per le valutazioni funzionali ed interfaccia con Mariano per le valutazioni biodinamiche. 
                Tutti i Test non si basano su classici protocolli ma sono stati studiati per la massima specificità in funzione del gesto atletico. 
                L' elaborazione correlata dei dati acquisiti rende il supporto finale ed il livello delle risposte personalizzato in relazione alle caratteristiche e qualità dell' atleta.
            </li>
        </ul>
        Tutto questo fa si che ad oggi moltissimi, importanti e di diverse discipline sono i nomi degli sportivi seguiti dallo staff Ki.Co.Sys., 
        sia nella valutazione biodinamica sia nella preparazione fisica ed atletica.
    

    </section>

<div class="terzo"> 
    <section class="pulsanti" (click)="goToAtleti()">
        Clicca qui per scoprire gli atleti che si sono affidati a noi! <br>
        <img class="icone" src="../../../assets/images/atleta.png">
    </section>

    <section class="pulsanti" (click)="goToServizi()">
        Scopri i nostri servizi <br>
        <img class="icone" src="../../../assets/images/bikefit.png">
    </section>

    <section class="pulsanti" (click)="goToTestPoint()">
        Trova i nostri Test point <br>
        <img class="icone" src="../../../assets/images/location.png">
    </section>
</div>

<main class="terzo">
    <section id="team">
        <h3>KI.CO.SYS. TEAM FRIULI</h3>
        <p>
            ⚠️⚠️ COMUNICAZIONE IMPORTANTE ⚠️⚠️
        </p>
        <p>
            E’ con immenso piacere che si comunica la fusione tra la A.S.D. Ki.Co.Sys e la A.S.D. Team Friuli 4 Ail.<br>
            Tale progetto, fortemente voluto da entrambi i direttivi, è solo il punto di partenza di un progetto sportivo ben più ampio che partirà già dal 2022, e che prevede importanti 
            partnership a livello regionale e turistico per la valorizzazione del territorio del FVG ed in particolare delle sue località montane.<br>
            Tutti i dettagli del progetto saranno illustrati ai tesserati e alla stampa nel corso delle prossime settimane.
        </p>
        <p>
            La neonata società prenderà il nome di :<br>
            <a href="https://m.facebook.com/KiCoSys-Team-Friuli-1206596606071407/"> ✔️ASD Ki.Co.Sys Team Friuli💪✔️ </a>
        </p>
        <p>
            Viene confermato il progetto benefico della raccolta fondi da destinare ad AIL, associazione italiana contro le leucemie e i linfomi.👊👏
        </p>
    </section>

    <section id="events" (click)="goToEventi()">
        <h3>KI.CO.SYS. SPORTING EVENTS</h3>
        Scopri tutti i "Kicosys Events"
        <p>  <img src="../../../assets/images/events.jpg" id="event"> </p>
    </section> 

</main> 