<section>
    <h1>SERVIZI</h1>
    <ol class="elenco">
    <p>Intro</p>


    <li> Biomeccanica applicata al ciclismo per una corretta posizione in sella (Mariano Cycling Engineering) </li>
    <li> Progettazione telai su misura </li>
    <li> Test di valutazione funzionale </li>
    <li> Test Incrementale </li>
    <li> Analisi composizione corporea </li>
    <li> Wingate Test </li>
    <li> Curva Potenza/Cadenza e Forza/Velocità </li>
    <li> Test forza esplosiva arti inferiori (SJ - CSJ) </li>
    <li> Programmazione dell’allenamento </li>
    <li> Pancafit per l’allungamento muscolare globale decompensato </li>
    <li> Baropodomeria: valutazione dell’appoggio plantare e dei distretti sovrasegmentari durante il gesto atletico specifico </li>
    <li> Bite ortodontici sportivi </li>
    <li> Ginnastica propriocettiva </li>
    <li> Personal Trainer </li>
    <li> Indicazioni dietologiche personalizzate </li>
    <li> Recupero e rieducazione funzionale </li>
    <li> Ginnastica posturale, correttiva ed antalgica </li>
    <li> Programma AFA in collaborazione con Distretto Sanitario Friuli Centrale </li>
    </ol>
</section>