<section>
    <h1>Gli Atleti</h1>
    <p>
        Moltissimi atleti professionisti di caratura mondiale sono seguiti dal nostro staff, ed anche grazie a questo se la stampa specializzata,
        in più occasioni si è occupata dei servizi offeti dal Ki.Co.Sys. e Mariano Cycling Engineering.
    </p>
    <ul class="elenco">
        <p> Facilmente potrai incontrare presso i nostri centri: </p>
            <li>Alejandro Valverde </li>
            <li>Stefano Garzelli </li>
            <li>Oscar Pereiro Sio </li>
            <li>Ivan Gutierrez </li>
            <li>Joacquin Rodriguez </li>
            <li>Vladimir Karpets </li>
            <li>Vincente Reynes </li>
            <li>Francisco Perez Sanchez </li>
            <li>Imanol Erviti</li>
            <li>Florent Brad </li>
            <li>Marco Fertonani</li>
            <li>Marzio Bruseghin</li>
            <li>Marco Pinotti</li>
            <li>Fabio Felline</li>
            <li>............</li>
    </ul>
    <p>
        Pagina in aggiornamento (da http://www.marianocycling.com/atleti.html)
    </p>
</section>