header {
    position: fixed;
    top:1%;
    background-color: orangered;
    width: 99.5%;
    z-index: 1;
}

div#first { 
    display:flex;
    justify-content: space-between;
    align-items: center;
}

img#menu {
    margin-left: 30px;
    width: 60px;
    height: 60px;      
}

img#mainlogo {
    transition: none !important;
    width: auto !important;
    height: 120px; 
    transform: none !important;
}

img#instagram {
    margin-right: 30px;
    width: 60px;
    height: 60px; 
}

img#facebook {
    margin-right: 30px;
    width: 60px;
    height: 60px; 
}

img#contatti {
    margin-right: 35px;
    width: 60px;
    height: 60px; 
}

p#menuarea {
    width:240px;
}

header img:hover {
    transition: transform .2s;
    width: 70px;
    height: 70px;
    transform: scale(1.5);
}

nav {
    align-items: stretch ;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: orangered;
}

nav a{
    padding-top: auto;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    border: 3px solid black;
    width: 15%;   
}

nav a:hover { 
    background-color: cyan;
}

nav a:link {
    color: black;
    text-decoration: none;
}
nav a:visited{
    color: black;
    text-decoration: none;
}

/************************************************************************************************************/
/****************************************** SMALL SCREENS ***************************************************/
/************************************************************************************************************/
@media  screen and (max-width: 750px) {

    header {
        position: relative;    
    }

    img#mainlogo {
        margin-bottom: 15px;
        width: auto;
        height: 80px; 
    } 

    img#contatti {
        margin-right: 0;
    }

    div#first {
        flex-direction: column-reverse;
    }

    nav {
        display:block;
    }  

    nav a {
        width: 100%;
    }

    p#menuarea {
        width: auto;
    }
    
}