<header>
    <div id="first">
        <p id="menuarea">
            <a href="index.html"> <img id="menu" src="../../../assets/images/home.png" > </a>
        </p>
        <img id="mainlogo" src="../../../assets/images/kicosys_logo_long.png" >
        <p>
            <a href="https://www.instagram.com/kicosys/?hl=it"> <img id="instagram" src="../../../assets/images/instaicon.png"> </a>
            <a href="https://it-it.facebook.com/Kicosys/"> <img id="facebook" src="../../../assets/images/fbicon.png"> </a>
            <a (click)="contatticlick()"> <img id="contatti" src="../../../assets/images/contatti.png">  </a>
        </p> 
    </div>
    <nav *ngIf="checkIsServiziPage()">
        <a (click)="introClick()" >Intro Servizi</a>
        <a (click)="biomeccanicaClick()" >Biomeccanica applicata al ciclismo "Mariano Cycling Engineering"</a>
        <a (click)="preparazioniClick()" >Preparazioni atletiche</a>
        <a (click)="valFunzClick()" >Valutazione funzionale dell'atleta</a>
        <a (click)="valBarClick()" >Valutazioni baropodometriche e stabilometriche</a>
        <a (click)="plantariClick()" >Progettazione ortesi plantari</a>
        <a (click)="indoorClick()" >Indoor Cycling Programm</a>
        <a (click)="fitnessClick()" >Fitness, Wellness e Personal Trianer</a>
    </nav>
</header>