address{
    position: fixed; 
    bottom:0%; 
    width:100%;
    text-align: center;
    background-color: rgba(255,255, 255, 0.85);
}


/************************************************************************************************************/
/****************************************** SMALL SCREENS ***************************************************/
/************************************************************************************************************/

@media  screen and (max-width: 750px) {
    address{
        position: relative;
        width:100%;
        text-align: center;
    }
}