<section id="contatti">
    <img id="logow" src="../../../assets/images/kicosys_logo_bianco.png">
    <h1>CONTATTI</h1>   
    <p>
        Ki.Co.Sys.<br>
        Tel: +39 3392050199<br>
        E-mail: info@kicosys.it
    </p>
    <p>
        Sede legale:<br>
        Tricesimo (UD), via Aquileia 10/2
    </p>
    <p>
        Alla pagina "TEST POINT" le prinipali sedi operative dove è possibile trovare un incaricato del Ki.Co.Sys.
    </p>
    <p>
        Puoi inoltre contattarci tramita la pagina Facebook e instagram tramite i pulsanti in alto a destra o con il form di contatto qui sotto.
    </p>
</section>

<section id="forms">
        <form>
           <label for="name">Nome:</label><br/>
           <input type="text" placeholder="Mario">
        </form>
        <form>
        <label for="lastname">Cognome:</label><br/>
           <input type="text" placeholder="Rossi">
        </form>
        <form>
           <label for="email">eMail:</label><br/>
           <input type="text" placeholder="example@example.com">
        </form>
        <form>
           <label for="phone">Disciplina</label><br/>
           <select size=1 NAME="giudizio">
                <option selected="selected" Value=nessuna>-</option> 
                <option value=ciclismo>Ciclismo</option>
                <option value=Running>Running</option>
                <option value=Crossfit>Crossfit</option>
                <option value=Nuoto>Nuoto</option>
           </select>​​
        </form>   
        <form>
            <label>Sesso:</label><br/>
            <input type="checkbox"><Label>Maschio</Label>
            <input type="checkbox"><label>Femmina</label>
            <input type="checkbox"><label>Non binario</label>
        </form>
       <form id="txtarea">
            <label>Inserisci la tua richiesta:</label><br/>
            <textarea id="large" ></textarea>
        </form>
        <form>
            <input type="submit" id="submit" value="invia la richiesta" >
        </form>
</section>